@charset  "UTF-8";
body {
    background-color: rgb(176, 204, 176);
    font-family: 'Times New Roman', Times, serif;
}
h1 {
    color: rgb(23, 70, 70);
}
h1#principal {
text-align: center;
background-color: black;
color: rgb(255, 255, 255);
}
.basico{
    color: brown;
}
h2
{
    color: rgb(190, 65, 33)
}